# Python & venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & artifacts
data/
# ignore scratch file
data/last_run_metrics.json
# but DO track baseline_metrics.csv
!data/baseline_metrics.csv
mlruns/
*.sqlite3

# CodeCarbon cache
data/emissions/
.emissions_cache/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit 
.streamlit/

# Logs
*.log

# DVC metadata exceptions
!*.dvc
!dvc.lock
!dvc.yaml
/dataset
/models
/mlartifacts

*.pem