# Python & venv
venv/
__pycache__/
*.pyc

# Data & artifacts
data/*
!data/baseline_metrics.csv
!data/last_run_metrics.json
models/
mlruns/
*.sqlite3

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Streamlit / env
.streamlit/
env
